{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@config": "./config",
          "@public": "./public",
          "@utils": "./src/utils",
          "@models": "./src/models",
          "@controllers": "./src/controllers",
          "@routes": "./src/routes"
        }
      }
    ]
  ]
}
